* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-part{
    background-image: url("images/your_verse_hero.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 1440px;
    height: 538px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.menu,
.menu-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 980px;
    height: 36px;
    margin-top: 75px;
    color: white;
}

.menu-button,
.menu-search{
    margin: 3px 0;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(124, 124, 124)50%, rgb(124, 124, 124) 50%, rgb(104, 104, 104)51%, rgb(124, 124, 124)100%);
    border-left: 1px solid rgb(151, 151, 151);
    outline: 1px solid rgb(78, 78, 78);
    cursor: pointer;
}

.menu-search{
    margin: auto;
    /* padding: 4.5px 20px; */
    height: fit-content;
    width: fit-content;

}

#search-bar{
    font-size: 20px;
    width: 106px;
    height: 20px;
}

.menu-button:hover{
    -moz-box-shadow:    inset 0 0 100px #00000057;
    -webkit-box-shadow: inset 0 0 100px #00000057;
    box-shadow:         inset 0 0 100px #00000057;
}

/* Text Area */

.text-area{
    margin-top: 50px;
    padding: 50px 0;
    color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1px;
}

.title{
    font-size: 65px;
}

.description{
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-area p a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;

}
.text-area p a:hover{
    text-decoration: underline;
}

/****************************************/
.promo-images {
    display: flex;
    justify-content: space-between;
}

.image-container img{
    width: 360px;
    padding: 2px;
}

.image-left img{
    padding-left: 0; 
}

.image-right img{
    padding-right: 0;
}


.footer{
    margin: 10px 0;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.footer-top-left,
.footer-top-right,
.footer-bottom{
    margin: 5px 0;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E6E6E;
}

.footer-top-left a,
.footer-top-right a,
.footer-bottom a{
   text-decoration: none;
   color: #08c; 
}

.links{
    display: flex;
}

.border-right{
    border-right: 1px solid rgb(185, 185, 185);
    padding: 0 5px;
}

.link{
    padding: 0 5px;
}

.link img{
    width: 15px;
}

.left-padding{
    padding-left: 5px;
}