* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-part{
    background-image: url("images/your_verse_hero.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 1440px;
    height: 538px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 980px;
    height: 36px;
    margin-bottom: 50px;
}

.menu-button{
    margin: 3px auto;
    padding: 10px 30px;
}

.promo-images {
    display: flex;
    justify-content: space-between;
}

.image-container img{
    width: 360px;
    padding: 2px;
}

.image-left img{
    padding-left: 0; 
}

.image-right img{
    padding-right: 0;
}


.footer{
    margin: 10px 0;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.footer-top-left,
.footer-top-right,
.footer-bottom{
    margin: 5px 0;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E6E6E;
}

.footer-top-left a,
.footer-top-right a,
.footer-bottom a{
   text-decoration: none;
   color: #08c; 
}

.links{
    display: flex;
}

.border-right{
    border-right: 1px solid rgb(185, 185, 185);
    padding: 0 5px;
}

.link{
    padding: 0 5px;
}

.link img{
    width: 15px;
}

.left-padding{
    padding-left: 5px;
}